* {
    box-sizing: border-box;
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    background: linear-gradient(11deg, rgba(149,82,149,1) 0%, rgba(173,111,111,0.8534226190476191) 100%);
    width: 100vw;
    height: 100vh;

    display: flex;
    align-items: center;
    justify-content: center;
}
body>div{
    display: flex;
    align-items: center;
    justify-content: center;
}